* {
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #598EFF;
  --info: #94d600;
}

body {
  font-family: 'Work Sans';
  font-weight: 300;
  overflow-x: hidden;
}
a:focus,
button:focus {
  box-shadow: none!important;
}
/* Typography ========== */
/* ==================== */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: normal!important;
  font-style: italic;
  text-transform: capitalize;
}
.info__content h2 {
  font-size: 1.5rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300!important;
  text-transform: none;
  line-height: 1.3;
}
h4 {
  font-size: 2rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight:300!important;
}
h4.heading--center {
  text-transform: none;
}
h1.teaser {
  font-size: 10vw;
  margin: 3rem 0 2rem;
  padding-bottom: 8px;
  line-height: 1;
}
.single h2 {
  margin-top:0;
}
.articles__list.edit .single h4 {
  color: var(--primary);
  font-weight: 500!important;
  line-height: 1.2;
}
h4.heading--center {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.3rem;
  line-height: 1.2;
  position: relative;
}
h6 strong {
  font-weight:500;
}
.article__content h2,
.article__content h3,
.article__content h4 {
  color: var(--primary);
  margin: 1rem 0 0.35rem;
}
.article__content h2 {
  font-size:2rem;
}
.article__content h3 {
  font-size:1.7rem;
}
.article__content p,
.article__content ul {
  margin-bottom: 0.75rem;
  line-height: 1.7rem;
}
@media screen and (min-width: 768px) {
  h1.teaser {
    font-size: 8vh;
    margin: 3rem auto;
    padding-bottom: 12px;
}
.info__content h2 {
  font-size: 2.2rem;
}
}
@media screen and (min-width: 992px) {
  h1.teaser {
    font-size: 11vh;
}
}

/* Container ========== */
/* =================== */
.chakra-container {
  row-gap: 2rem;
}
.loader {
  min-height: calc(100vh - 147px - 112px);
  display: flex;
  align-items: center;
}
.App > .chakra-container {
  padding: 0;
}
header {
  height: 80px;
  width: 100%;
  margin: 0 auto 2rem;
  padding: 0 0 0 15px;
  position: relative;
  /* top: 2rem; */
  box-sizing: border-box;
  align-content: center;
  display: flex;
  align-items: center;
}
a.logo {
  z-index: 100;
}
a.logo img {
  display: block;
  width: 100%;
  max-width: 150px;
  height:auto;
  margin: 0 auto;
  object-fit: cover;
}
.themeswitcher {
  width: 40px;
  height:40px;
  position: relative;
  right: 0;
  top:0.5rem;
  cursor: pointer;
  z-index: 95;
}
a.themeswitcher svg {
  position: relative;
  top: -0.3rem;
}
nav {
  position: relative;
  padding-right:0.5rem;
  text-align: right;
  z-index: 10;
  visibility: visible;
  opacity: 1;
}
.navbar {
  z-index: 90;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-flow: row;
}
.navlink {
  transition: all 300ms ease!important;
}
form#navsearch.navsearch {
  display: flex;
  flex-wrap: nowrap;
  width: 0;
  margin: 0;
  top: 1rem;
  position: absolute;
  left: 0;
  top: 1rem;
  transform: translateX(0);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
}
form#navsearch.show {
  flex-wrap: nowrap;
  width: calc(100vw - 5rem);
  transform: translateX(3rem);
  visibility: visible;
  opacity: 1;
  transition: all 500ms ease;
}
#navsearch button {
  position: relative;
  left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  z-index: 10;
}
#navsearch input {
  font-size: 14px;
  flex-basis: 80%;
  padding: 4px;
  position: relative;
  z-index: 0;
}
button.navsearch {
  position: relative;
  z-index: 7;
  top: -0.2rem;
  height: 40px;
}
button.navsearch svg {
  width: 24px;
  height: 24px;
}
.chakra-slide.navslide .chakra-form-control #navsearch {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: 16px;
  left: 5px;
}
#navsearch a {width: 40px; height: 40px; background-color: #F7FAFC; cursor: pointer;}
#navsearch a svg {position:relative; top: 25%; left:25%;}
button.nav__btn {
  position: relative;
  right: 15px;
}
.collapse { 
  background-color: rgba(255,255,255,0.85);
  position: relative;
  z-index: 99;
}
.collapse .mobile nav {
  padding: 3rem 0;
  text-align: center;
}
.collapse .mobile nav .chakra-link {
	display: inline-block;
	max-width: 33.3333%;
	margin: 0.5rem auto;
}
.collapse .mobile nav .chakra-link:hover {
  background: transparent;
}

main {
  position: relative;
  margin-bottom:3rem;
  padding: 0 1rem;
  width: 100%;
  min-height:calc(100vh - 233px - 3rem);
  box-sizing: border-box;
}
.title::before {
  margin-top: -6vh;
  content: "";
  background-image: url("/src/img/meditation.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  right: 0;
  top: -0;
  width: 100%;
  z-index: 1;
  /* mix-blend-mode: multiply; */
  height: 250px;
  background-size: contain;
  background-position-x: 50%;
  margin-bottom: -6vh;
}
#home .title {
  position: relative;
  z-index: 2;
}
#about .teaser {
  position: relative;
  z-index: 4;
  /* text-shadow: 0 0 12px rgba(255,255,255,0.85); */
}
#about::before {
  content: "";
  background-image: url("/src/img/relax sleep.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-table;
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 3;
  mix-blend-mode: normal;
  background-size: contain;
  background-position: left center;
  left: 0;
  top: -13vh;
}
@media screen and (min-width: 600px) {
  form#navsearch.show {
    max-width: calc(35vw - 2rem);
  }
}
@media screen and (min-width: 768px) {
  #home::before {
    top:-10vh;
  }
  .title::before {
    position: absolute;
    height: 300px;
    background-position-x: 100%;
    margin-top: 0;
    top: -13vh;
    mix-blend-mode: multiply;
    width: 400px;
    right: -10%;
}
  .col-12 {
    width:100%;
  }
  .col-8 {
    margin: 0 auto;
    width:75%;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 80px;
    margin-bottom: 0;
    display: flex;
    align-content: center;
    align-items: center;
  }
  button.navsearch {
    top: 1rem;
  }
  a.logo img {
    position: relative;
    left: 0;
    margin: 0;
  }
  .themeswitcher {
    top: 1.5rem;
  }
  #home::before {
    height: 400px;
    right: -10vw;
  }
  #about::before {
    left: -15%;
    top: -10vh;
    height: 400px;
}
}

/* Tag cloud ========== */
/* =================== */
.hero {
  column-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tagcloud__holder {
  flex-wrap: wrap;
  width: 66.6666%;
  justify-content: flex-end;
}
.tagcloud {
  background-color: #598EFF;
  border-radius:0.5rem;
  margin:2rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  /* min-width: 100%; */
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
input[type="checkbox"] {
  width: 60px;
  padding: 0.5rem;
  margin:4px;
  visibility: hidden;
  display: none;
}
span.tag label {
  display: inline-block;
  padding: 0.5rem;
  margin: 4px;
  font-weight: bold;
  word-break: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 6px;
}
span.tag label:hover {
  color: #845EC2!important;
  background-color: rgba(255,255,255,0.85);
  transform: scale(1.1)!important;
  margin: 6px;
}
input:checked + label {
  font-size: 32px!important;
  outline: 2px white solid;
  background-color: white;
  color:var(--info)!important;
  mix-blend-mode: luminosity;
}
.tagcloud__btnholder {
  flex-flow: column;
  row-gap: 1rem;
}
.tagcloud__btnholder button {
  /* flex-basis: 100%; */
  /* max-width: 320px; */
  justify-items: center;
  margin: 0 auto;
}
@media screen and (min-width:1024px) {
  .hero {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .hero > div {
    flex-basis: 50%;
  }
  .tagcloud {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-content: center;
    margin: 2rem auto;
    max-width: 700px;
}
}

/* Articles =========== */
/* =================== */
article {
  margin: 2rem 0;
}
.articles__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.article__meta {
  color: #718096;
  font-size: 12px;
}
.article__meta > .date {
  position: relative;
  top: -3px;
}
.articles__list .single,
.articles .single {
  flex: 1 0 100%;
  margin:0;
}
.articles__list .single {
  padding:2rem;
}
.articles__list.edit .single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  row-gap: 0.5rem;
}
.articles__list.edit .single .edit__heading {
  flex-basis: calc(75% - 1rem);
  margin-bottom: 0.5rem;
}
.articles__list.edit .single .edit__btn {
  flex-basis: 40px;
  justify-self: flex-end;
  text-align: right;
}
.articles__list.edit .single .date,
.articles__list.edit .single .reported {
  font-size:14px;
  color: #718096;
  margin-top: -4px;
}
.articles__list.edit .single .date {
  flex-basis: 66.6666%;
  max-width: 160px;
}
.articles__list.edit .single .reported{
  flex-basis: 33.3333%;
}
.articles__list.edit .single .meta > * {
  margin-right: 8px;
}
.edit__title__meta {
  flex-basis: 100%;
}
.edit__title__meta .meta { display:flex;}
.edit__title__meta .meta span.reported {display: flex;}
.edit__title__meta .meta span.reported svg {
  position: relative;
  top: 3px;
  left: 4px;
}
.edit__title__meta .meta span.reported svg.visible:not(.not) {
  color: var(--primary);
}
.edit__action {
  flex-basis: 100%;
  justify-content: flex-end;
}
button.edit__btn, button.delete__btn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
button.edit__btn::before,
button.delete__btn::before {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  top: 12px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
button.edit__btn::before {
  content: "Edit";
}
button.delete__btn::before {
  content: "Delete";
  left:0;
}
button.edit__btn:hover::before {
  top: -7px;
  visibility: visible;
  opacity: 1;
  right: 7px;
}
button.delete__btn:hover::before {
  left: 0;
  visibility: visible;
  opacity: 1;
  top: -7px;
}
button.delete__btn svg {
  pointer-events: none;
}

.excerpt {
  margin-bottom: 1rem;
}
.bg--dotted {
  z-index: -1;
}
.bg__dotted {
  background-image: radial-gradient(#5C90FF 1px, transparent 1px);
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  opacity: 0.4;
  height: 100%;
}
.article__date {
  font-size: 14px;
  display: block;
  text-align: center;
}
.article__tag {
  margin-right: 4px;
}
.article__tag.label {
  font-size:12px;
  position: relative;
  top:-4px;
}
@media screen and (min-width: 600px) {
  .edit__title__meta {
    flex-basis: calc(80% - 1rem);
}
.articles__list.edit .single,
.articles__list.edit .single .date,
.articles__list.edit .single .reported  {
  flex-basis: 100%;
}
.edit__action {
  flex-basis: calc(20% - 1rem);
  justify-content: flex-end;
  position: relative;
  left: 1rem;
}
}
@media screen and (min-width:768px) {
  .articles__list .single,
  .articles .single {
    flex: 1 0 calc(50% - 1.5rem);
  }
  .articles__list:not(.edit) .single:last-child,
  .articles .single:last-child {
    flex: 0 0 calc(50% - 0.75rem);
  }
}

/* Report form ======== */
/* =================== */
.report {
  margin: 0;
}
.report p.success {
  border: 1px solid var(--info);
  border-radius: 6px;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: center;
  height:0;
  transition: all 1000ms ease;
}
.report p.success.hide {
  visibility: hidden;
  opacity: 0;
}
.report p.success.show {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.report div[role="radiogroup"] .chakra-stack {
  margin: 0.5rem 0;
}
.report button {
  margin: 1rem auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .report.info__holder {
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-around;
  }
  .report {
    flex: 0 1 calc(62% - 1rem);
  }
  .info__holder {
    flex: 0 1 calc(38% - 1rem);
  }
  .report.info__holder .info__holder .info__content {
    justify-content: center;
    flex-wrap:wrap;
    row-gap: 1rem;
  }
  .report.info__holder .info__holder .info__content svg {
      margin:0;
  }
  .report.info__holder .info__holder .info__content h5 {
      text-align:center;
  }
}


/* Search form ======== */
/* =================== */
.tagsearch {
  max-width: 375px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem auto 0;
}
#search {
  display:flex;
  margin: 1rem 0 3rem;
}
#search input {
  flex-basis:100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#search button {
  position:absolute;
  right:0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Chart ============== */
/* =================== */
.recharts-wrapper {
  margin: 0 auto;
}
.chart__holder.close{
  height:0;
  transform: none;
  transition: height transform 150ms ease;
  display: none;
}
.chart__holder.open{
  display: block;
  height:auto;
  transform: scale(0.9);
  transition: height transform 150ms ease;
}
path.recharts-polygon {
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-opacity: 0.2;
}

/* Admin dashboard ==== */
/* =================== */
.admin__sections button {
  height: 4rem;
}
@media screen and (min-width: 600px) {
  .admin__sections {
    flex-wrap: wrap;
    flex-direction: row!important;
    align-content: flex-start!important;
    justify-content: flex-start!important;
    gap: 1rem;
}
  .admin__sections button {
    flex-basis: calc(50% - 1rem);
    margin: 0!important;
    height: 4rem;
  }
}

/* Info holder ========= */
/* =================== */
.info__holder {
  margin: 3rem 0;
}
.info__content {
  margin-top: 1rem;
  padding: 1rem;
}
.info__holder > .info__content svg {
  flex: 0 0 40px;
  transform: rotate(0);
  transition: all 500ms ease;
}
.info__content:hover > svg {
  transform: rotate(-45deg);
  background-color: var(--info);
  fill: white;
}
.info__holder svg {
  width: 40px;
  height: 40px;
  position: relative;
  top: 5px;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: white;
  fill: var(--primary);
}
a.info__link {
  color:var(--info);
  display:inline-block;
  transition: all 1000ms ease;
}
a.info__link::after,
h5.info__link::after {
  content: "";
  display: block;
  width:0;
  height: 3px;
  background-color: white;
  background-size: 0 auto;
  position: relative;
  bottom: 0;
  transition: all 1000ms ease;
}
h5 a.info__link::after {
  height: 2px;
}
a.info__link:hover::after {
  background-color: var(--info);
  width: 100%;
}
@media screen and (min-width:768px) {
  .info__content {
    padding: 2rem;
  }
}

/* Footer ============= */
/* =================== */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 1100vw;
  position: relative;
}
.footer__links {
  justify-content: center;
  gap: 1.2rem;
}
.footer__links a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
  font-weight: normal;
  flex-basis: 40px;
}
.footer__links a:hover {
  text-decoration: none;
  color:#BE72E9;
}
.footer__links a.link {
  margin-left: 0;
}
.footer__links a {
  font-size:12px;
}
.footer__nav a {
  font-weight:normal;
}
.copyright {
  flex-wrap: wrap;
  justify-content: center;
}
.footer .logo img {
  width: 120px;
}
.footer a.link {
  margin-left: 0;
}
#sticky {
  position: sticky;
  bottom: 0;
  z-index: 90;
  /* height: 50px; */
  margin-top: 1.5rem;
}
#sticky a {
  text-decoration: none;
}
#sticky a svg,
.footer__links a svg {
  display: inline-block;
  margin-right:4px;
  position: relative;
  top:2px;
}
@media screen and (min-width: 425px) {
  .footer__links {
    gap: 1.5rem;
}
}
@media screen and (min-width: 600px) {
  .footer__links a {font-size:16px;}
}
@media screen and (min-width:992px) {
  #sticky {
    background-color: rgba(255,255,255,0.85);
  }
  #sticky a svg,
  .footer__links a svg {
    top:4px;
    margin-right:0;
  }
  .footer {
    margin-top:3rem;
  }
  .copyright {
    flex-wrap: nowrap;
  }
  .footer__links {
    justify-content: center!important;
    gap: 3rem;
  }
  .footer__links a {
    font-weight: 300;
  }
  .footer__links a,
  .copyright {
    font-size:16px;
  }
}

/* Elements =========== */
/* =================== */
.bg__morph {
  background: var(--primary);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 300px;
  animation: morph 10s ease-in-out infinite both alternate;
  align-content: center;
  align-items: center;
  display: flex;
}
@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}
.bg__morph:before {
  content:"";
  display: inline-block;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top:0;
  z-index: 5;
}
#about .bg__morph:nth-child(1) {
  border-radius: 69% 31% 73% 27% / 34% 60% 40% 66% ;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#about .bg__morph:nth-child(1)::before {
  background-image: url("/src/img/blogging.svg");
  left: 10%;
  top: calc(-100% + 150px);
  z-index: 5;
  margin: 0 auto;
}
.bg__morph.home {
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 100px;
  bottom: 0;
  mix-blend-mode: multiply;
  animation: morph 15s ease-in-out infinite both alternate;
}
.bg__morph.home::before {
  background-image: none;
}
.article__list .bg__morph {
  width: 85%;
  position: relative;
}
.article__list .bg__morph::before{
  background-image: url("/src/img/vision.svg");
  background-position-x: 50%;
  transform: scaleX(-1);
}
svg.chakra-icon path {
  fill: var(--primary);
}
.primary__btn{
  display: block;
  font-weight:300!important;
}
a.readmore {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.readmore__btn {
  display: inline-block;
  /* font-weight: 500!important; */
  text-transform: none;
  text-decoration-color: var(--primary);
  position: relative!important;
  right:0;
  background-image: linear-gradient(to right, #BE72E9 50%, var(--primary) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1000ms ease;
}
.readmore__btn:hover {
  background-position: left bottom;
  text-decoration: none!important;
}
.readmore__btn::after {
  content: "";
  display: inline-block;
  background-image: linear-gradient(to right, #BE72E9 50%, var(--primary) 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: all 1000ms ease;
}
.readmore__btn:hover::after {
  background-position: left bottom;
  width: 100%;
} 
.btn--centered {
  margin: 0 auto;
  display: block;
}
a.btn--centered.chart {
  text-align: center;
}
.logout {
  position: relative;
  right: 0;
}
button.loadmore {
  color: var(--primary);
  padding: 2px 10px;
  border: 2px solid var(--primary);
  border-radius: 6px;
  display: block;
  margin: 3rem auto 1.5rem;
  background-color: transparent;
  transition: all 300ms ease;
}
button.loadmore:hover {
  background-color: var(--primary);
  color: white;
}
.bounceloader {
  margin: 3rem 0;
  transition: all 1000ms ease;
  opacity: 0;
}
.bounceloader.loading {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .article__list .bg__morph {
    left: 7.5%;
  }
}

.linear-wipe {
	color: var(--primary);
	background-image: -webkit-linear-gradient(30deg, #598EFF, rgb(146, 58, 254));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-animation: hue 10s infinite linear;
	animation: hue 15s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
/* Authentificationerrormessages */
/* ============================= */

.errorMessage{
  color: #DD1C1A;
}
